.headerText {
  text-align: -webkit-center;
  font-family: "Times New Roman";
  font-size: 1.5em;
}
page-app-home {
  .toolbar-container {
    background-color: cornflowerblue;
  }
}
.footerText {
  text-align: center;
  font-size: 1.2em;
  font-family: "Times New Roman";
}

