<ion-header>
  <ion-toolbar>
    <h2 class="headerText">
      Array simétrico
    </h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Elementos do vetor:</ion-label>
    <ion-input type="number" pattern="[0-9]*" [(ngModel)]="this.arrayElement">
    </ion-input>
  </ion-item>

  <ion-button color="primary" (click)="arrayPush()">Acrescentar
  </ion-button>

  <ion-button color="success" (click)="verify()">Vericar
  </ion-button>

  <ion-button color="danger" (click)="arrayClean()">Limpar
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let item of this.arrayInput">{{item}}</ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <h2 class="footerText">Desenvolvido por Felipe Rodrigues</h2>
  </ion-toolbar>
</ion-footer>